# https://help.github.com/en/articles/workflow-syntax-for-github-actions

name: CI Website TCOptRob

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    if: github.event_name != 'workflow_dispatch'
    name: OS:${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04]
    env:
      CI_HOME: ${{github.workspace}}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install Ubuntu packages
        run: sudo apt-get install -y python3-pip git
      - name: Install pip packages
        run: |
          pip install pymdown-extensions
          pip install py-markdown-table
          pip install mkdocs
          pip install mkdocs-material
          pip install mkdocs-pymdownx-material-extras
          pip install mkdocs-blogging-plugin
      - name: Build website
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          cd ${{github.workspace}} && mkdocs build -v
          mv docs docs_new
          git checkout docs && rm -rf docs
          mv docs_new docs
          printf "www.tcoptrob.org" > docs/CNAME
          git add .
          git commit -am "Update website"
          git push
